$white: #fff;
$black: #101010;
$dark-pink: #AF1458;
$pink: #CC1465;
$border: #D49CC0;
$input-bg: #F9F9F9;
$btn-bg: #E8EBC7;
$card-bg: #BE9EC9;
$card-title: #916A9F;
$foto-bg: #F9F7F7;
$modal-white: #FAEFF2;
