.first-section {
    width: 100%;
    height: auto;
}

.video {
    width: 100%;
    height: 961px;
    // background: url("../img/video-bg.png") no-repeat;
    // background-size: cover;
    // background-position: 0px -220px;
	// mix-blend-mode: color-dodge;
	// background-blend-mode: color-dodge;
	// opacity: 0.7;
    position: relative;
    display: flex;
	z-index: 5;
}

.video__left {
    width: 1000px;
	position: relative;
	z-index: 10;
	opacity: 1;
}

.video__elipse {
	width: 643px;
	height: 643px;
	background: radial-gradient(50% 50% at 50% 50%, #FF91D3 0%, #AF1458 100%);
	border-radius: 100%;
	position: absolute;
	top: 180px;
	left: 240px;
	z-index: 10;
}

.video__elipse:before {
	content: "";
	width: 700px;
	height: 700px;
	position: absolute;
	opacity: 0.3;
	border: 2px solid #AF1458;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	transform: translate(-50%, -50%);
}

.video__flowers {
	position: absolute;
	top: -160px;
	width: 890px;
	left: -240px;
}

.video__girl {
	position: absolute;
	width: 400px;
	top: 0px;
	left: -20px;
}

.video__boot1 {
    width: 390px;
    height: auto;
    position: absolute;
    top: 100px;
    right: 0px;
	transform: rotate(-15deg);
}

.video__boot2 {
    width: 270px;
    height: auto;
    position: absolute;
    top: -50px;
    right: -110px;
}

.video__elipse-subtitle {
	font-family: "Phoenix Squad";
	font-weight: normal;
	font-size: 100px;
	line-height: 100%;
	text-align: center;
	color: #fff;
	opacity: 0.7;
	width: 30px;
	position: absolute;
	top: 80px;
	left: 260px;
}


.video__right {
    position: relative;
    z-index: 2;
    margin-top: 150px;
    width: 560px;
    height: auto;
}

.video__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 50px;
}

.video__screen {
    // background: url("../img/video-bg.jpg") center no-repeat;
    width: 560px;
    height: 374px;
    position: relative;
}

.opacity__title {
	font-family: "Phoenix Squad";
	font-weight: normal;
	font-size: 144px;
	line-height: 100%;
	color: $dark-pink;
	opacity: 0.03;
	position: absolute;
	bottom: -100px;
	left: -102px;
}

// .video__screen:before {
//     content: "";
//     position: absolute;
//     width: 80px;
//     height: 80px;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background: url("../img/youtube.png") center no-repeat;
// }

.video__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 90px;
	.price {
		width: 50%;
	}
}

.quantity {
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 194px;
	height: 73px;
	display: flex;
	padding: 8px 8px 8px 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 13px;
	background-color: #D5B8DF;
	z-index: 100;
	transform: translateX(1000px);
	transition: 1s ease;
}

.quantity.active {
	transform: none;
}

.quantity__goods {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 118px;
	height: 100%;
}

.quantity__number {
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	color: $black;
	text-align: center;
}

.quantity__goods span {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: lowercase;
	color: $dark-pink;
}

.quantity__img {
	width: 42px;
	height: 100%;
	background: url("../img/shopping-bag.png") right center no-repeat;
}
