footer {
	background: url("../img/flowers.png") left center no-repeat;
	background-size: 50%;
	width: 100%;
	height: 750px;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 40px;
}

.footer__left {
	width: 700px;
	height: 100%;
	background: url("../img/footer-bg1.png") no-repeat;
	background-size: contain;
	background-position: left bottom;
}

.footer__right {
	width: 600px;
	height: 100%;
	background: url("../img/footer-bg2.png") no-repeat;
	background-size: contain;
	background-position: right bottom;
}

.footer__center {
	position: absolute;
	width: 580px;
	height: 580px;
	bottom: 0;
	left: 35%;
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer__title {
	width: 100%;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	text-transform: uppercase;
	color: $black;
	margin-bottom: 14px;
}

.footer__subtitle {
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	color: $black;
}

.footer__boot {
	width: 100%;
	height: 300px;
	position: relative;

}

.footer__boot-img {
	position: absolute;
	top: -30px;
	left: 0;
	z-index: 5;
}

.footer__sale {
	position: absolute;
	top: 40%;
	left: 35%;
	width: 270px;
	height: 100px;
	border-radius: 0px 50px 50px 0px;
	background-color: $card-title;
	padding: 10px 10px 10px 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footer__price {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 30px;
	.price {
		width: 45%;
	}
}

.copyright {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: -40px;
	left: 0;
	background-color: $card-bg;
	text-align: center;
	margin: 0 auto;
	line-height: 40px;
}

.copiright__text {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000;
	margin-left: 10px;
}


