.header {
    width: 100%;
    height: auto;
    position: relative;
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white url(../img/bg-header.png) no-repeat;
    background-size: contain;
    background-position: right top;
    opacity: 0.3;
    z-index: 5;
}

.header__container {
    width: 100%;
    height: auto;
    background: url("../img/header-left.png") left top no-repeat;
    background-size: 47%;
    position: relative;
    z-index: 6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__boot {
    width: 250px;
    height: 600px;
}

.boot1 {
    width: 250px;
    height: auto;
    position: absolute;
    top: 190px;
    left: 80px;
}

.boot2 {
    width: 240px;
    height: auto;
    position: absolute;
    top: 0;
    left: 250px;
}

.header__branch {
    position: absolute;
    z-index: 3;
}

.branch1 {
    top: 0px;
    right: 0px;
}

.branch2 {
    top: 400px;
    right: 0px;
}

.boot3 {
    position: absolute;
    top: 220px;
    right: -10px;
    width: 550px;
}

.header__content {
    width: 564px;
    margin-left: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.header__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    margin-top: 20px;
}

.header__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
}

.advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.advantage {
    width: 170px;
    height: 152px;
    border-radius: 5px;
    background-color: rgba(175, 20, 88, 0.1);
    position: relative;
    margin-top: 20px;
}

.advantage__background {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 170px;
    height: 152px;
    border-radius: 5px;
    background-color: rgba(175, 20, 88, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $black;
}

.header__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: baseline;
}

.old__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: $black;
    position: relative;
}

.old__price:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: $pink;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.new__price {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: lowercase;
    color: $pink;
}

.order__btn {
    width: 198px;
    height: 56px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $pink;
    color: $white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    margin-right: 70px;
    transition: 0.3s ease;
}

.order__btn:hover {
    background-color: $dark-pink;
    .order__img {
        background-color: $pink;
    }
}

.order__img {
    width: 70px;
    height: 56px;
    background-color: $dark-pink;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    top: 0px;
    right: -70px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 15px;
        height: 20px;
    }
}

.header__main {
    width: 100%;
    margin-top: 130px;
    height: 800px;
    background: url("../img/bg-girl.png") left center no-repeat;
}

.header__wrapper {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    margin-top: 170px;
}

.header__main-title {
    font-family: "Phoenix Squad", sans-serif;
    font-weight: normal;
    font-size: 144px;
    line-height: 100%;
    color: $dark-pink;
    width: 210px;
    position: relative;
    z-index: 5;
}

.header__main-center {
    width: 380px;
    height: auto;
    position: relative;
    img {
        position: absolute;
    }
}

.boot__flag {
    top: 20px;
}

.boot__main1 {
    top: 250px;
    left: -140px;
    z-index: 5;
}

.boot__main2 {
   top: 80px;
   left: -20px;
}

.header__main-advantage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.main__advantage {
    width: 380px;
    height: 140px;
    position: relative;
    background-color: rgba(175, 20, 88, 0.1);
    border-radius: 5px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 29px 34px 71px;
}

.main__advantage-background {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 380px;
    height: 140px;
    background-color: rgba(175, 20, 88, 0.1);
    border-radius: 5px;
}

.main__advantage-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: $black;
}

.main__advantage-img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: -50px;
}

.header__main-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
}

.order__btn-sub {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    margin-top: 14px;
}

